.education {
    height: 100vh;
    background: linear-gradient(#ea5455,  #f07b3f);
}
.cards:hover {
    background-color: black;
    transition: 1s;
    border-radius: 20px;
}
@media(max-width: 800px) {
    .education {
        height: auto;
        padding-top: 5%;
    }
}